@model FlordiaMan.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Event Details</h1>
<div>
    Return to <a asp-controller="Admin" asp-action="index">Admin home</a> or
    <a asp-controller="ListEvent">Event Home</a>
</div>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
