@model List<Performer>
@{
    ViewData["Title"] = "PerformersHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="searchBar">
    <form class="searchBar" method="post">
        <div class="sasquatchSocks RoadRage">Search:</div>
        <input for="searchText" name="searchText" placeholder="Search" />
        <button class="btn" value="search" name="command" type="submit">Go</button>
    </form>
</div>

@if(Model!=null)
{
<div class="grid">
    @foreach (Performer p in Model)
    {
        <article class="card product-item">
            <a asp-action="PerformerDetails" asp-route-id="@p.Id">
                <div class="card__image center">
                    <img src="@p.ImgUrl" class="" />
                </div>
                <div class="card__content">
                    <p class="product__description sasquatchSocks">
                        @p.Name
                    </p>
                   


                </div>
            </a>
        </article>
     }
</div>
}




