@model List<Performer>
@{
    ViewData["Title"] = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="sasquatchSocks RoadRage">Search Results</h1>

@if (Model.Any())
{
    <div class="grid">
        @foreach (Performer p in Model)
        {
            <article class="card product-item">
                <a asp-action="PerformerDetails" asp-route-id="@p.Id">
                    <div class="card__image center">
                        <img src="@p.ImgUrl" class="" />
                    </div>
                    <div class="card__content">
                        <p class="product__description sasquatchSocks">
                            @p.Name
                        </p>



                    </div>
                </a>
            </article>
        }
    </div>
}
else
{
    <h1>No Results Found</h1>
}

