@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_layout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">It's time to panic?! What is happening? Who let the gators out?! NO! NO! AHHHHHHH!</h2>
