
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Home</h1>

<div class="grid">
    <article class="card product-item">
        <a asp-controller="Events" asp-action="ListEvent">
            <header class="card__header ">
                <h1 class="product__title center ">
                    Events
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>

    <article class="card product-item">
        <a asp-controller="News" asp-action="Index">
            <header class="card__header">
                <h1 class="product__title center">
                    News
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>
    <article class="card product-item">
        <a asp-controller="Admin" asp-action="EventBuilder">
            <header class="card__header ">
                <h1 class="product__title center ">
                    Event Builder
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>
</div>

<div class="grid">
    <article class="card product-item">
        <a asp-controller="Performers" asp-action="Index">
            <header class="card__header ">
                <h1 class="product__title center ">
                    Performers
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>

    <article class="card product-item">
        <a asp-controller="Admin" asp-action="UserIndex">
            <header class="card__header ">
                <h1 class="product__title center ">
                    Users
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>

    <article class="card product-item">
        <a asp-controller="Matches" asp-action="index">
            <header class="card__header ">
                <h1 class="product__title center ">
                    Matches
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
            <div class="card__content">
                <p class="product__description">

                </p>
            </div>
        </a>
    </article>

</div>

