@model IEnumerable<News>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}




<div class="text-center">
    <h1 class="display-4">United Florida Gator Rasslin Union</h1>
    <p>We have partnered with the Flrodia National Hertigate Society for over 150 years
    Learn about <a href="https://docs.microsoft.com/aspnet/core">the history of UFGRU</a>.</p>
</div>


<div id="myCarousel" class="carousel slide carousel-body" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/pool.jpeg" alt="Los Angeles">
            <div class="carousel-caption txt">
                <h3>Chillin with Ripples</h3>
                <p>An inside look at how Ripples spends her free time</p>
            </div>
        </div>

        <div class="item">
            <img src="~/img/RKO.jpg" alt="Chicago">
            <div class="carousel-caption txt">
                <h3>Croc 'n Awe</h3>
                <p>Highlights from last Sundays event</p>
            </div>
        </div>

        <div class="item">
            <img src="~/img/Skeeter.jpeg" alt="New York">
            <div class="carousel-caption txt">
                <h3>Meet Cletus</h3>
                <p>A new interviewed with our current champ</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="center">
    @if (!Model.Any())
    {
        <h1>There is no news</h1>
    }
    else
    {
        foreach (News n in Model)
        {
            <h4>@n.Title</h4>
            <h3>@n.Date</h3>
            <h2>@n.Text</h2>
        }
    }

</div>